{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="gallery-title">Freshers Memories</h1>

<div class="gallery">

    <img src="{% static 'images/freshers/freshers_1.jpeg' %}">
    <img src="{% static 'images/freshers/freshers_2.jpeg' %}">
    <img src="{% static 'images/freshers/freshers_3.jpeg' %}">
    <img src="{% static 'images/freshers/freshers_4.jpeg' %}">
    <img src="{% static 'images/freshers/freshers_5.jpeg' %}">
    <img src="{% static 'images/freshers/freshers_6.jpeg' %}">
    <img src="{% static 'images/freshers/freshers_7.jpeg' %}">
    <img src="{% static 'images/freshers/freshers_8.jpeg' %}">

</div>

{% endblock %}