{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="gallery-title">Homies Memories</h1>

<div class="gallery">

<img src="{% static 'images/homies/homies_1.webp' %}">
<img src="{% static 'images/homies/homies_2.webp' %}">
<img src="{% static 'images/homies/homies_3.webp' %}">

<img src="{% static 'images/homies/homies_4.jpg' %}">
<img src="{% static 'images/homies/homies_5.jpg' %}">
<img src="{% static 'images/homies/homies_6.jpg' %}">
<img src="{% static 'images/homies/homies_7.jpg' %}">
<img src="{% static 'images/homies/homies_8.jpg' %}">
<img src="{% static 'images/homies/homies_9.jpg' %}">
<img src="{% static 'images/homies/homies_10.jpg' %}">
<img src="{% static 'images/homies/homies_11.jpg' %}">
<img src="{% static 'images/homies/homies_12.jpg' %}">
<img src="{% static 'images/homies/homies_13.jpg' %}">
<img src="{% static 'images/homies/homies_14.jpg' %}">
<img src="{% static 'images/homies/homies_15.jpg' %}">
<img src="{% static 'images/homies/homies_16.jpg' %}">

</div>

{% endblock %}