{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="gallery-title">Last Day Memories</h1>

<div class="gallery">

<img src="{% static 'images/last_day/last_day_1.jpeg' %}">
<img src="{% static 'images/last_day/last_day_2.jpeg' %}">
<img src="{% static 'images/last_day/last_day_3.jpeg' %}">
<img src="{% static 'images/last_day/last_day_4.jpeg' %}">
<img src="{% static 'images/last_day/last_day_5.jpeg' %}">
<img src="{% static 'images/last_day/last_day_6.jpeg' %}">
<img src="{% static 'images/last_day/last_day_7.jpeg' %}">
<img src="{% static 'images/last_day/last_day_8.jpeg' %}">
<img src="{% static 'images/last_day/last_day_9.jpeg' %}">
<img src="{% static 'images/last_day/last_day_10.jpeg' %}">
<img src="{% static 'images/last_day/last_day_11.jpeg' %}">
<img src="{% static 'images/last_day/last_day_12.jpeg' %}">

</div>

{% endblock %}